<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Activities Around Me</title>

    <!-- bootstrap css -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- custom styles -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link rel="stylesheet" type="text/css" href="/styles/index.css">
    <!-- jquery -->
    <!-- Note: using subresource integrity; see: https://en.wikipedia.org/wiki/Subresource_Integrity -->
    <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>

    <!-- handlebars -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/index.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header row">
          <div class="col-xs-1">
            <a class="navbar-brand" href="#">
              <img alt="Brand" src="/images/icon.png">
            </a>
          </div>
          <div class="col-xs-9 col-xs-offset-2">
            <strong>Activities Around Me</strong>
          </div>
        </div>
      </div>
    </nav>
    <header>

    </header>
      <div class=container>
        <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="col-md-4 photo"><img src="/images/kids1.jpg" class="img-responsive center-block gallery"><h2 class="img_cap"><span>Kids</span></h2></div>
                <div class="col-md-4 photo"><img src="/images/sports2.jpg" class="img-responsive center-block gallery"><h2 class="img_cap"><span>Women's Sports</span></h2></div>
                <div class="col-md-4 photo"><img src="/images/arts_and_crafts.jpg" class="img-responsive center-block gallery"><h2 class="img_cap"><span>Arts and Crafts</span></h2></div>
              </div>
        </div>



      </div>



  </body>
</html>
