<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Activities Around Me</title>

    <!-- bootstrap css -->
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <!-- custom styles -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Carter+One' rel='stylesheet' type='text/css'>

    <!-- jquery -->
    <!-- Note: using subresource integrity; see: https://en.wikipedia.org/wiki/Subresource_Integrity -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>

    <!-- handlebars -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!--bootstrap components -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/activities.js"></script>
  </head>
  <body>
    <!--navbar-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="pull-right">
          <button id="addActivityBtn" class="btn btn-primary" type="button">Add Activity</button>
        </div>
        <div class="navbar-header row">
          <div class="col-xs-1">
            <a class="navbar-brand" href="#">
              <img alt="Brand" src="/images/icon.png">
            </a>
          </div>
          <div class="col-xs-9">
            <strong>Activities Around Me</strong>
          </div>
        </div>
      </div>
    </nav>
    <!--end navbar-->
    <!--Main Menu-->
    <div class=container>
      <div class="row menu">
        <div class="col-xs-4 photo" data-cat="Kids"><img src="/images/kids1.jpg" class="img-responsive center-block gallery">
          <h5 class="img_cap"><span>Kids</span></h5></div>
        <div class="col-xs-4 photo" data-cat="Women's Sports"><img src="/images/sports2.jpg" class="img-responsive center-block gallery">
          <h5 class="img_cap"><span>Women's Sports</span></h5></div>
        <div class="col-xs-4 photo" data-cat="Arts and Crafts"><img src="/images/arts_and_crafts.jpg" class="img-responsive center-block gallery">
          <h5 class="img_cap"><span>Arts and Crafts</span></h5></div>
      </div>
      <br>
      <!--end Main Menu-->
    </div>
      <div class="container">
        <div id="activityTarget">
          <script id="activity-template" type="text/x-handlebars-template">
              {{#each activities}}
                <div class="activity row" data-activity-id={{id}}>
                  <div class="col-xs-3">
                    <img src={{image_url}}></img>
                  </div>
                  <div class"info col-xs-9">
                    <div><h4>{{activity_name}}</h4></div>
                    <div id="activityInfo" class="row">
                        <h5>Description: {{description}}</h5><br>
                        <h5>Location: {{location}}</h5><br>
                        {{#if website}}
                        {{!--{{create website link only if there is a website}}--}}
                          <a href={{website}}>Website</a>
                          <br>
                        {{/if}}
                        <h5>Email: {{instructor.email}}</h5>
                    </div>
                    <div class='panel-footer'>
                      <button id="deleteActivityBtn" class="btn btn-primary" type="button" data-id={{_id}}>Delete Activity</button>
                      <button id="updateActivityBtn" class="btn btn-primary" type="button" data-id={{_id}}>Update Activity</button>
                    </div>
                  </div>
                </div>
              {{/each}}
            <!--/div-->
          </script>
        <!--/div-->
      </div>
    </div>

    <!-- begin activityModal: this is not visible until .modal() is called -->
    <div class="modal fade" tabindex="-1" role="dialog" id="activityModal" data-btnName="" data-id="">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Activity Information</h4>
            </div>
            <div class="modal-body">

              <fieldset class='form-horizontal'>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="activity_name">Activity Name</label>
                  <div class="col-md-4">
                    <input id="activity_name" name="activity_name" type="text" placeholder="" class="form-control input-md" required="">
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="category">Categoty</label>
                  <div class="col-md-4">
                    <!--input id="category" name="category" type="text" placeholder="" class="form-control input-md"-->
                    <select id="category" name="category" class="form-control input-md">
                      <option value="Kids">Kids</option>
                      <option value="Women's Sports">Women's Sports</option>
                      <option value="Arts and Crafts">Arts and Crafts</option>
                    </select>
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="description">Description</label>
                  <div class="col-md-4">
                    <input id="description" name="description" type="text" placeholder="" class="form-control input-md">
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="location">Location</label>
                  <div class="col-md-4">
                    <input id="location" name="location" type="text" placeholder="" class="form-control input-md">
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="website">Website url</label>
                  <div class="col-md-4">
                    <input id="website" name="website" type="url" placeholder="" class="form-control input-md">
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="image_url">Image url</label>
                  <div class="col-md-4">
                    <input id="image_url" name="image_url" type="url" placeholder="" class="form-control input-md">
                  </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                  <label class="col-md-4 control-label" for="instructor">Instructor</label>
                  <div class="col-md-4">
                    <input id="instructor" name="instructor" type="text" placeholder="" class="form-control input-md">
                  </div>
                </div>
              </fieldset>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="saveActivity">Save changes</button>
            </div>

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <!-- begin messageModal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="messageModal">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Message</h4>
            </div>
            <div class="modal-body">
              <h4>Action Completed, Thank You!</h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


  </body>
</html>
