#activityTarget h2{
  text-align: center;
  margin-bottom: 15px;
}

#activityTarget img{
  height:200px;
  width:200px;
  margin-left: -15px;
}


#activityTarget .activity{
  background-color: white;
  width: 970px;
}


#activityInfo {
  margin-top: 15px;
}
