.navbar-brand img{
  height: 30px;
  width:30px;
}

.navbar-brand strong{
  box-sizing:content-box;
  margin-bottom: 15px;

}

.photo {
  position: relative;
}
.img_cap {
  position: absolute;
  margin-top: 30px;
  left:0px;
  bottom: 100px;
  width: 100%;
  height: :100%;
  text-align: center;
}
.img_cap span {
  color: white;
  font-size: 30px;

}
.row .photo img{
  height:300px;
  width:300px;
  margin-top: 30px;
  border-radius: 25px;
  background-color: #565459;
  opacity:1;
}
.row .photo{
  margin-top: 150px;
}

body{
    background-color: #f5f5f5;
}

#addActivityBtn{
margin-top: 6px;
}

#activityTarget h2{
  text-align: center;
  margin-bottom: 15px;
}

#activityTarget img{
  height:200px;
  width:200px;
  margin-left: -15px;
}

#activityTarget .activity{
  background-color: white;
  width: 970px;
  margin-top: 50px;
}

#activityTarget{
  margin-left: 70px;
}

#activityInfo {
  margin-top: 15px;
}

.active{
  opacity:1;
}

.inactive{
  opacity:0.3;
}
